* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

:root {
  --bg-black2: rgba(11, 7, 6, 1);
  --bg-white: rgba(255, 255, 255, 1);
  --bg-black: rgba(29, 33, 48, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-grey: rgba(82, 85, 96, 1);
  --text-black: rgba(11, 7, 6, 1);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  background-color: var(--bg-dark);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

nav {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0 17px;
  gap: 20px;
  display: flex;
  justify-content: center;
  gap: 525px;
  background-color: var(--bg-white);
  padding: 19.5px 0;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

#hamburger {
  display: none;
}

.menu-link {
  display: flex;
  gap: 40px;
}

.menu-link-a {
  color: var(--text-grey);
  transition: 0.5s;
}

.menu-link-a:hover {
  color: var(--text-black);
}

.don {
  padding: 12px 32px;
  background-color: var(--bg-black);
  color: var(--text-white);
  border-radius: 5px;
}

/* Footer */
footer {
  width: 100%;
  margin-top: 200px;
  background-color: var(--bg-black2);
}

.container-footer {
  padding: 96px 120px;
  width: 1500px;
  margin: 0 auto;
  display: flex;
  gap: 110px;
  justify-content: space-between;
}

.footer-menu_link {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-menu {
  display: flex;
  gap: 60px;
}

.our-team {
  color: var(--text-white);
}

.footer-menu_linka {
  color: var(--text-grey);
  transition: 0.5s;
}

.footer-menu_linka:hover {
  color: var(--text-white);
}

.footer-inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-inputs-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0px;
  color: var(--text-white);
}

.form {
  position: relative;
  display: flex;
}

.footer-input {
  width: 544px;
  height: 64px;
  border-radius: 5px;
  background-color: var(--bg-black2);
  padding: 22px 24px;
}

.footer-p {
  background-color: var(--bg-white);
  padding: 22.5px 32px;
  position: absolute;
  right: 0;
  border-radius: 5px;
}

@media (max-width: 1500px) {
  .container-footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1260px) {
  .container {
    gap: 10px;
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
  }
  .nav-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #hamburger {
    display: flex;
  }
  .nav-menu {
    display: none;
  }
  .active {
    display: flex;
  }
}

@media (max-width: 490px) {
  .footer-menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-input {
    justify-content: center;
    width: 100%;
  }
  .footer-inputs-text {
    font-size: 17px;
  }
  .footer-p {
    position: unset;
    display: flex;
  }
}

@media (max-width: 460px) {
  .menu-link {
    flex-wrap: wrap;
    justify-content: center;
  }
}
