* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

:root {
  --bg-black2: rgba(11, 7, 6, 1);
  --bg-white: rgba(255, 255, 255, 1);
  --bg-black: rgba(29, 33, 48, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-grey: rgba(82, 85, 96, 1);
  --text-black: rgba(11, 7, 6, 1);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.head {
  width: 100%;
  border-bottom: 1px solid rgba(35, 37, 54, 0.12);
  background-color: var(--bg-white);
  position: fixed;
}

.head-menu {
  padding: 40px 110px;
  width: 1500px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}

/* style-head */
.style-head {
  width: 1500px;
  margin: 0 auto;
  padding: 156px 110px 80px;
}

.style-head__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
  margin-bottom: 40px;
}

/* style-head_body */
.style-head_body {
  padding: 80px;
  background-color: rgba(242, 246, 239, 1);
  display: flex;
  justify-content: space-between;
}

.download-icon {
  display: flex;
  gap: 25px;
  align-items: center;
}

.style-head_body_link {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0px;
}

/* download-link */
.download-link {
  display: flex;
  gap: 19.45px;
  align-items: center;
}

.download-link__a {
  font-weight: 400;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 36px;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: var(--text-black);
}

/* style-body */
.style-body {
  width: 1500px;
  margin: 0 auto;
  padding: 80px 110px;
  display: flex;
  gap: 180px;
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.lang {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.pixels {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.heading_link {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;
}

.heading1_link {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: 0%;
}

.heading2_link {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0px;
}

/* header */
header {
  top: 0;
  /* position: fixed; */
  width: 100%;
  display: flex;
  background-color: var(--bg-dark);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 100;
}

nav {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0 17px;
  gap: 20px;
  display: flex;
  justify-content: center;
  gap: 525px;
  background-color: var(--bg-white);
  padding: 19.5px 0;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

#hamburger {
  display: none;
}

.menu-link {
  display: flex;
  gap: 40px;
}

.menu-link-a {
  color: var(--text-grey);
  transition: 0.5s;
}

.menu-link-a:hover {
  color: var(--text-black);
}

.don {
  padding: 12px 32px;
  background-color: var(--bg-black);
  color: var(--text-white);
  border-radius: 5px;
}

/* Footer */
footer {
  width: 100%;
  margin-top: 200px;
  background-color: var(--bg-black2);
}

.container-footer {
  padding: 96px 120px;
  width: 1500px;
  margin: 0 auto;
  display: flex;
  gap: 110px;
  justify-content: space-between;
}

.footer-menu_link {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-menu {
  display: flex;
  gap: 60px;
}

.our-team {
  color: var(--text-white);
}

.footer-menu_linka {
  color: var(--text-grey);
  transition: 0.5s;
}

.footer-menu_linka:hover {
  color: var(--text-white);
}

.footer-inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-inputs-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: 0px;
  color: var(--text-white);
}

.form {
  position: relative;
  display: flex;
}

.footer-input {
  width: 544px;
  height: 64px;
  border-radius: 5px;
  background-color: var(--bg-black2);
  padding: 22px 24px;
}

.footer-p {
  background-color: var(--bg-white);
  padding: 22.5px 32px;
  position: absolute;
  right: 0;
  border-radius: 5px;
}

@media (max-width: 1500px) {
  .head-menu {
    width: 100%;
  }
  .style-head {
    width: 100%;
  }
  .container-footer {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1260px) {
  .container {
    gap: 10px;
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
  }
  .nav-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #hamburger {
    display: flex;
  }
  .active {
    display: none;
  }
}

@media (max-width: 1230px) {
  .style-head_body {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@media (max-width: 1000px) {
  .head-menu {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .style-head {
    padding-top: 176px;
  }
}

@media (max-width: 930px) {
  .style-head_body_link {
    font-weight: 500;
    font-size: 26px;
    line-height: 44px;
    letter-spacing: 0px;
  }
}

@media (max-width: 795px) {
  .download-icon {
    gap: 10px;
    flex-direction: column;
  }
  .style-head__link {
    text-align: center;
  }
  .download-link {
    flex-direction: column;
  }
}

@media (max-width: 720px) {
  .style-head_body_link {
    font-weight: 500;
    font-size: 13px;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: center;
  }
}

@media (max-width: 595px) {
  .download-link__a {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 490px) {
  .style-head {
    padding: 176px 0;
  }
  .footer-menu {
    flex-wrap: wrap;
    justify-content: center;
  }
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-input {
    justify-content: center;
    width: 100%;
  }
  .footer-inputs-text {
    font-size: 17px;
  }
  .footer-p {
    position: unset;
    display: flex;
  }
}

@media (max-width: 460px) {
  .menu-link {
    flex-wrap: wrap;
    justify-content: center;
  }
}
